--
-- PostgreSQL database dump
--

\restrict Vh6mxwB9sHrjhBWQUOP0eTCW0aPv0sQja0j9NRO0pbIsGJohwO5Bnrw9wEZis5f

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.step_score DROP CONSTRAINT IF EXISTS fk_stepscore_step;
ALTER TABLE IF EXISTS ONLY public.step_score DROP CONSTRAINT IF EXISTS fk_stepscore_report;
ALTER TABLE IF EXISTS ONLY public.step DROP CONSTRAINT IF EXISTS fk_step_interview;
ALTER TABLE IF EXISTS ONLY public.skill_score DROP CONSTRAINT IF EXISTS fk_skillscore_skill;
ALTER TABLE IF EXISTS ONLY public.skill_score DROP CONSTRAINT IF EXISTS fk_skillscore_question;
ALTER TABLE IF EXISTS ONLY public.skill_score DROP CONSTRAINT IF EXISTS fk_skillscore_candidate;
ALTER TABLE IF EXISTS ONLY public.interview_report DROP CONSTRAINT IF EXISTS fk_report_interview;
ALTER TABLE IF EXISTS ONLY public.question_skill DROP CONSTRAINT IF EXISTS fk_questionskill_skill;
ALTER TABLE IF EXISTS ONLY public.question_skill DROP CONSTRAINT IF EXISTS fk_questionskill_question;
ALTER TABLE IF EXISTS ONLY public.question_score DROP CONSTRAINT IF EXISTS fk_questionscore_stepscore;
ALTER TABLE IF EXISTS ONLY public.question_score DROP CONSTRAINT IF EXISTS fk_questionscore_question;
ALTER TABLE IF EXISTS ONLY public.question DROP CONSTRAINT IF EXISTS fk_question_step;
ALTER TABLE IF EXISTS ONLY public.job_ad DROP CONSTRAINT IF EXISTS fk_jobad_occupation;
ALTER TABLE IF EXISTS ONLY public.job_ad DROP CONSTRAINT IF EXISTS fk_jobad_interview;
ALTER TABLE IF EXISTS ONLY public.jobad_department DROP CONSTRAINT IF EXISTS fk_jobad_dept_jobad;
ALTER TABLE IF EXISTS ONLY public.jobad_department DROP CONSTRAINT IF EXISTS fk_jobad_dept_dept;
ALTER TABLE IF EXISTS ONLY public.department DROP CONSTRAINT IF EXISTS fk_department_org;
ALTER TABLE IF EXISTS ONLY public.candidate DROP CONSTRAINT IF EXISTS fk_candidate_report;
ALTER TABLE IF EXISTS ONLY public.candidate DROP CONSTRAINT IF EXISTS fk_candidate_jobad;
DROP INDEX IF EXISTS public.idx_skillscore_skill;
DROP INDEX IF EXISTS public.idx_skillscore_question;
DROP INDEX IF EXISTS public.idx_skillscore_candidate;
ALTER TABLE IF EXISTS ONLY public.step DROP CONSTRAINT IF EXISTS uq_interview_position;
ALTER TABLE IF EXISTS ONLY public.skill_score DROP CONSTRAINT IF EXISTS uq_candidate_question_skill;
ALTER TABLE IF EXISTS ONLY public.skill DROP CONSTRAINT IF EXISTS uk_skill_title;
ALTER TABLE IF EXISTS ONLY public.job_ad DROP CONSTRAINT IF EXISTS uk_jobad_interview;
ALTER TABLE IF EXISTS ONLY public.candidate DROP CONSTRAINT IF EXISTS uk_candidate_report;
ALTER TABLE IF EXISTS ONLY public.step_score DROP CONSTRAINT IF EXISTS step_score_pkey;
ALTER TABLE IF EXISTS ONLY public.step DROP CONSTRAINT IF EXISTS step_pkey;
ALTER TABLE IF EXISTS ONLY public.skill_score DROP CONSTRAINT IF EXISTS skill_score_pkey;
ALTER TABLE IF EXISTS ONLY public.skill DROP CONSTRAINT IF EXISTS skill_pkey;
ALTER TABLE IF EXISTS ONLY public.question_skill DROP CONSTRAINT IF EXISTS question_skill_pkey;
ALTER TABLE IF EXISTS ONLY public.question_score DROP CONSTRAINT IF EXISTS question_score_pkey;
ALTER TABLE IF EXISTS ONLY public.question DROP CONSTRAINT IF EXISTS question_pkey;
ALTER TABLE IF EXISTS ONLY public.organisation DROP CONSTRAINT IF EXISTS organisation_pkey;
ALTER TABLE IF EXISTS ONLY public.occupation DROP CONSTRAINT IF EXISTS occupation_pkey;
ALTER TABLE IF EXISTS ONLY public.jobad_department DROP CONSTRAINT IF EXISTS jobad_department_pkey;
ALTER TABLE IF EXISTS ONLY public.job_ad DROP CONSTRAINT IF EXISTS job_ad_pkey;
ALTER TABLE IF EXISTS ONLY public.interview_report DROP CONSTRAINT IF EXISTS interview_report_pkey;
ALTER TABLE IF EXISTS ONLY public.interview DROP CONSTRAINT IF EXISTS interview_pkey;
ALTER TABLE IF EXISTS ONLY public.department DROP CONSTRAINT IF EXISTS department_pkey;
ALTER TABLE IF EXISTS ONLY public.candidate DROP CONSTRAINT IF EXISTS candidate_pkey;
DROP SEQUENCE IF EXISTS public.step_sequence;
DROP SEQUENCE IF EXISTS public.step_score_sequence;
DROP TABLE IF EXISTS public.step_score;
DROP TABLE IF EXISTS public.step;
DROP SEQUENCE IF EXISTS public.skill_sequence;
DROP TABLE IF EXISTS public.skill_score;
DROP TABLE IF EXISTS public.skill;
DROP SEQUENCE IF EXISTS public.questions_sequence;
DROP TABLE IF EXISTS public.question_skill;
DROP TABLE IF EXISTS public.question_score;
DROP TABLE IF EXISTS public.question;
DROP SEQUENCE IF EXISTS public.organisation_sequence;
DROP TABLE IF EXISTS public.organisation;
DROP SEQUENCE IF EXISTS public.occupation_sequence;
DROP TABLE IF EXISTS public.occupation;
DROP TABLE IF EXISTS public.jobad_department;
DROP SEQUENCE IF EXISTS public.job_ad_sequence;
DROP TABLE IF EXISTS public.job_ad;
DROP SEQUENCE IF EXISTS public.interview_sequence;
DROP SEQUENCE IF EXISTS public.interview_report_sequence;
DROP TABLE IF EXISTS public.interview_report;
DROP TABLE IF EXISTS public.interview;
DROP SEQUENCE IF EXISTS public.department_sequence;
DROP TABLE IF EXISTS public.department;
DROP SEQUENCE IF EXISTS public.candidate_sequence;
DROP TABLE IF EXISTS public.candidate;
SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: candidate; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.candidate (
    id integer NOT NULL,
    comments text,
    cv_original_name character varying(255),
    cv_path character varying(255),
    email character varying(255),
    first_name character varying(255),
    last_name character varying(255),
    status character varying(255),
    interview_report_id integer,
    job_ad_id integer
);


--
-- Name: candidate_sequence; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.candidate_sequence
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: department; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.department (
    id integer NOT NULL,
    description character varying(255),
    location character varying(255),
    name character varying(255),
    organisation_id integer
);


--
-- Name: department_sequence; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.department_sequence
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: interview; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.interview (
    id integer NOT NULL,
    description text,
    title character varying(255)
);


--
-- Name: interview_report; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.interview_report (
    id integer NOT NULL,
    interview_id integer NOT NULL
);


--
-- Name: interview_report_sequence; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.interview_report_sequence
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: interview_sequence; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.interview_sequence
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: job_ad; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.job_ad (
    id integer NOT NULL,
    description text,
    publish_date date,
    status character varying(255),
    title character varying(255),
    interview_id integer,
    occupation_id integer
);


--
-- Name: job_ad_sequence; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.job_ad_sequence
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: jobad_department; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.jobad_department (
    jobad_id integer NOT NULL,
    department_id integer NOT NULL
);


--
-- Name: occupation; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.occupation (
    id integer NOT NULL,
    esco_id character varying(255),
    title character varying(255)
);


--
-- Name: occupation_sequence; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.occupation_sequence
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: organisation; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.organisation (
    id integer NOT NULL,
    description character varying(255),
    name character varying(255)
);


--
-- Name: organisation_sequence; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.organisation_sequence
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: question; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.question (
    id integer NOT NULL,
    description character varying(2000),
    "position" integer,
    title character varying(255) NOT NULL,
    step_id integer NOT NULL
);


--
-- Name: question_score; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.question_score (
    id integer NOT NULL,
    score double precision NOT NULL,
    question_id integer,
    step_score_id integer
);


--
-- Name: question_skill; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.question_skill (
    question_id integer NOT NULL,
    skill_id integer NOT NULL
);


--
-- Name: questions_sequence; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.questions_sequence
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: skill; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.skill (
    id integer NOT NULL,
    esco_id character varying(255),
    score double precision NOT NULL,
    title character varying(255)
);


--
-- Name: skill_score; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.skill_score (
    id bigint NOT NULL,
    comment character varying(2000),
    score integer,
    candidate_id integer NOT NULL,
    question_id integer NOT NULL,
    skill_id integer NOT NULL
);


--
-- Name: skill_score_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.skill_score ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.skill_score_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: skill_sequence; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.skill_sequence
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: step; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.step (
    id integer NOT NULL,
    description text,
    "position" integer NOT NULL,
    score double precision NOT NULL,
    title character varying(255),
    interview_id integer
);


--
-- Name: step_score; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.step_score (
    id integer NOT NULL,
    interview_report_id integer,
    step_id integer
);


--
-- Name: step_score_sequence; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.step_score_sequence
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: step_sequence; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.step_sequence
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Data for Name: candidate; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.candidate (id, comments, cv_original_name, cv_path, email, first_name, last_name, status, interview_report_id, job_ad_id) FROM stdin;
\.


--
-- Data for Name: department; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.department (id, description, location, name, organisation_id) FROM stdin;
1	Responsible for software development, infrastructure, and QA.	Athens HQ - 3rd Floor	Engineering	1
2	Handles talent acquisition, employee relations, and payroll.	Athens HQ - 1st Floor	Human Resources	1
\.


--
-- Data for Name: interview; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.interview (id, description, title) FROM stdin;
\.


--
-- Data for Name: interview_report; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.interview_report (id, interview_id) FROM stdin;
\.


--
-- Data for Name: job_ad; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.job_ad (id, description, publish_date, status, title, interview_id, occupation_id) FROM stdin;
\.


--
-- Data for Name: jobad_department; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.jobad_department (jobad_id, department_id) FROM stdin;
\.


--
-- Data for Name: occupation; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: organisation; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.organisation (id, description, name) FROM stdin;
1	A leading provider of innovative software solutions and IT consulting services.	MyOrganization
\.


--
-- Data for Name: question; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.question (id, description, "position", title, step_id) FROM stdin;
\.


--
-- Data for Name: question_score; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.question_score (id, score, question_id, step_score_id) FROM stdin;
\.


--
-- Data for Name: question_skill; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.question_skill (question_id, skill_id) FROM stdin;
\.


--
-- Data for Name: skill; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: skill_score; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.skill_score (id, comment, score, candidate_id, question_id, skill_id) FROM stdin;
\.


--
-- Data for Name: step; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.step (id, description, "position", score, title, interview_id) FROM stdin;
\.


--
-- Data for Name: step_score; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.step_score (id, interview_report_id, step_id) FROM stdin;
\.


--
-- Name: candidate_sequence; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.candidate_sequence', 1, false);


--
-- Name: department_sequence; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.department_sequence', 3, true);


--
-- Name: interview_report_sequence; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.interview_report_sequence', 1, false);


--
-- Name: interview_sequence; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.interview_sequence', 1, true);


--
-- Name: job_ad_sequence; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.job_ad_sequence', 1, true);


--
-- Name: occupation_sequence; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.occupation_sequence', 136, true);


--
-- Name: organisation_sequence; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.organisation_sequence', 1, true);


--
-- Name: questions_sequence; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.questions_sequence', 1, false);


--
-- Name: skill_score_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.skill_score_id_seq', 1, false);


--
-- Name: skill_sequence; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.skill_sequence', 219, true);


--
-- Name: step_score_sequence; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.step_score_sequence', 1, false);


--
-- Name: step_sequence; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.step_sequence', 1, false);


--
-- Name: candidate candidate_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.candidate
    ADD CONSTRAINT candidate_pkey PRIMARY KEY (id);


--
-- Name: department department_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.department
    ADD CONSTRAINT department_pkey PRIMARY KEY (id);


--
-- Name: interview interview_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.interview
    ADD CONSTRAINT interview_pkey PRIMARY KEY (id);


--
-- Name: interview_report interview_report_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.interview_report
    ADD CONSTRAINT interview_report_pkey PRIMARY KEY (id);


--
-- Name: job_ad job_ad_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_ad
    ADD CONSTRAINT job_ad_pkey PRIMARY KEY (id);


--
-- Name: jobad_department jobad_department_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.jobad_department
    ADD CONSTRAINT jobad_department_pkey PRIMARY KEY (jobad_id, department_id);


--
-- Name: occupation occupation_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.occupation
    ADD CONSTRAINT occupation_pkey PRIMARY KEY (id);


--
-- Name: organisation organisation_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.organisation
    ADD CONSTRAINT organisation_pkey PRIMARY KEY (id);


--
-- Name: question question_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.question
    ADD CONSTRAINT question_pkey PRIMARY KEY (id);


--
-- Name: question_score question_score_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.question_score
    ADD CONSTRAINT question_score_pkey PRIMARY KEY (id);


--
-- Name: question_skill question_skill_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.question_skill
    ADD CONSTRAINT question_skill_pkey PRIMARY KEY (question_id, skill_id);


--
-- Name: skill skill_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.skill
    ADD CONSTRAINT skill_pkey PRIMARY KEY (id);


--
-- Name: skill_score skill_score_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.skill_score
    ADD CONSTRAINT skill_score_pkey PRIMARY KEY (id);


--
-- Name: step step_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.step
    ADD CONSTRAINT step_pkey PRIMARY KEY (id);


--
-- Name: step_score step_score_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.step_score
    ADD CONSTRAINT step_score_pkey PRIMARY KEY (id);


--
-- Name: candidate uk_candidate_report; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.candidate
    ADD CONSTRAINT uk_candidate_report UNIQUE (interview_report_id);


--
-- Name: job_ad uk_jobad_interview; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_ad
    ADD CONSTRAINT uk_jobad_interview UNIQUE (interview_id);


--
-- Name: skill uk_skill_title; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.skill
    ADD CONSTRAINT uk_skill_title UNIQUE (title);


--
-- Name: skill_score uq_candidate_question_skill; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.skill_score
    ADD CONSTRAINT uq_candidate_question_skill UNIQUE (candidate_id, question_id, skill_id);


--
-- Name: step uq_interview_position; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.step
    ADD CONSTRAINT uq_interview_position UNIQUE (interview_id, "position");


--
-- Name: idx_skillscore_candidate; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_skillscore_candidate ON public.skill_score USING btree (candidate_id);


--
-- Name: idx_skillscore_question; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_skillscore_question ON public.skill_score USING btree (question_id);


--
-- Name: idx_skillscore_skill; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_skillscore_skill ON public.skill_score USING btree (skill_id);


--
-- Name: candidate fk_candidate_jobad; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.candidate
    ADD CONSTRAINT fk_candidate_jobad FOREIGN KEY (job_ad_id) REFERENCES public.job_ad(id);


--
-- Name: candidate fk_candidate_report; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.candidate
    ADD CONSTRAINT fk_candidate_report FOREIGN KEY (interview_report_id) REFERENCES public.interview_report(id);


--
-- Name: department fk_department_org; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.department
    ADD CONSTRAINT fk_department_org FOREIGN KEY (organisation_id) REFERENCES public.organisation(id);


--
-- Name: jobad_department fk_jobad_dept_dept; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.jobad_department
    ADD CONSTRAINT fk_jobad_dept_dept FOREIGN KEY (department_id) REFERENCES public.department(id);


--
-- Name: jobad_department fk_jobad_dept_jobad; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.jobad_department
    ADD CONSTRAINT fk_jobad_dept_jobad FOREIGN KEY (jobad_id) REFERENCES public.job_ad(id);


--
-- Name: job_ad fk_jobad_interview; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_ad
    ADD CONSTRAINT fk_jobad_interview FOREIGN KEY (interview_id) REFERENCES public.interview(id);


--
-- Name: job_ad fk_jobad_occupation; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_ad
    ADD CONSTRAINT fk_jobad_occupation FOREIGN KEY (occupation_id) REFERENCES public.occupation(id);


--
-- Name: question fk_question_step; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.question
    ADD CONSTRAINT fk_question_step FOREIGN KEY (step_id) REFERENCES public.step(id);


--
-- Name: question_score fk_questionscore_question; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.question_score
    ADD CONSTRAINT fk_questionscore_question FOREIGN KEY (question_id) REFERENCES public.question(id);


--
-- Name: question_score fk_questionscore_stepscore; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.question_score
    ADD CONSTRAINT fk_questionscore_stepscore FOREIGN KEY (step_score_id) REFERENCES public.step_score(id);


--
-- Name: question_skill fk_questionskill_question; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.question_skill
    ADD CONSTRAINT fk_questionskill_question FOREIGN KEY (question_id) REFERENCES public.question(id);


--
-- Name: question_skill fk_questionskill_skill; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.question_skill
    ADD CONSTRAINT fk_questionskill_skill FOREIGN KEY (skill_id) REFERENCES public.skill(id);


--
-- Name: interview_report fk_report_interview; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.interview_report
    ADD CONSTRAINT fk_report_interview FOREIGN KEY (interview_id) REFERENCES public.interview(id);


--
-- Name: skill_score fk_skillscore_candidate; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.skill_score
    ADD CONSTRAINT fk_skillscore_candidate FOREIGN KEY (candidate_id) REFERENCES public.candidate(id) ON DELETE CASCADE;


--
-- Name: skill_score fk_skillscore_question; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.skill_score
    ADD CONSTRAINT fk_skillscore_question FOREIGN KEY (question_id) REFERENCES public.question(id) ON DELETE CASCADE;


--
-- Name: skill_score fk_skillscore_skill; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.skill_score
    ADD CONSTRAINT fk_skillscore_skill FOREIGN KEY (skill_id) REFERENCES public.skill(id);


--
-- Name: step fk_step_interview; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.step
    ADD CONSTRAINT fk_step_interview FOREIGN KEY (interview_id) REFERENCES public.interview(id);


--
-- Name: step_score fk_stepscore_report; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.step_score
    ADD CONSTRAINT fk_stepscore_report FOREIGN KEY (interview_report_id) REFERENCES public.interview_report(id);


--
-- Name: step_score fk_stepscore_step; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.step_score
    ADD CONSTRAINT fk_stepscore_step FOREIGN KEY (step_id) REFERENCES public.step(id);


--
-- PostgreSQL database dump complete
--

\unrestrict Vh6mxwB9sHrjhBWQUOP0eTCW0aPv0sQja0j9NRO0pbIsGJohwO5Bnrw9wEZis5f

